<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>名字</title>
</head>
<body>
<p>导航
    <a href="/">主页</a>
    <a href="/myInfo/">我的信息</a>
    <a href="/discussion/">交流区</a>
    <a href="/myFollow/">我的关注</a>
    <a href="/myMessage/">我的消息</a>
</p>
<p>
    <a href="/myMark/">我的收藏</a> <a href="/myPosts/">我发表的</a>
</p>

<div>
    <table border="1" class="center">
        {% for post in posts %}
        <tr>
            <td><p><a href="/post/{{post.postId}}/">{{post.title}}</a></p></td>
            <td><form action="/myPosts/" name="form0" method="post">
                <button type="submit" name="deletePost" value="{{post.postId}}">删除</button>
            </form></td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>